{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li><a href="/music/revisited/">Revisited</a></li>
            <li class="active">{{ TrackTitle }}</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ TrackTitle }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    "The Music Box" is a remix of "Descend into Dreamland" from <em>A World Beyond</em>.
                </p>
                <p>
                    Original track description for “Descend into Dreamland”:
                </p>
                <blockquote>
                    A child plays with her music box, enjoying the simple yet haunting melodies it plays.
                    She soon falls asleep and starts to dream.
                </blockquote>
                <p>
                    The melody starts out with a melancholy tone, leading into a more playful section.
                    The chord changes are some of the best I’ve written to date. After a reprise of the opening theme,
                    a new theme unfolds.
                </p>
                <p>
                    The first melody was originally called “The Music Box”, while the second theme was called
                    “The Dreamland”.
                </p>
                <p>
                    The original melody is one of my earliest compositions (circa 1996) and is quite basic.
                </p>
                <h2>Remix</h2>
                <p>
                    The title “Descend into Dreamland” came from the description of the track.
                    For <em>Hidden in the Beyond</em>, the track was called “Return to the Dreamland”.
                    However, for this version, I’ve reverted to the original title. “Descend into Dreamland”
                    felt slightly pretentious, and the simple title of the original matches the
                    simplicity of the melodies.
                </p>
                <p>
                    In keeping with the simpler, stripped-back approach, I’ve largely skipped over the <em>Hidden</em> remix,
                    although the reprise of the opening theme remains in this version.
                </p>
                <p>
                    While this version is still fairly sparse, it sounds fuller than the earlier versions.
                    I’ve added new chords and flourishes throughout.
                </p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/revisited-250px.jpg" alt="Ben Barden - Revisited">
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
