{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li><a href="/music/revisited/">Revisited</a></li>
            <li class="active">{{ TrackTitle }}</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ TrackTitle }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    "Aries" is a reworking of part 3, 4 and 5 of "Aries" from <em>A World Beyond</em>,
                    which also appeared as part of "Nine Intertwined" on <em>Hidden in the Beyond</em>.
                </p>
                <p>
                    Track descriptions:
                </p>
                <blockquote>
                    <strong>Aries Part 3</strong>
                    <br>Flying around the universe, we travel to a distant galaxy.
                    <br><br>
                    <strong>Aries Parts 4 and 5</strong>
                    <br>Part 4 tells of an exotic, faraway land. Part 5 is about the worshipping of a superior being.
                </blockquote>
                <p>Times:</p>
                <p>
                0:00 Part 3
                <br>2:49 Part 4
                <br>3:59 Part 5
                </p>
                <p>
                    Having split “Eternal Evolution” into its own track, I wanted to continue repurposing the best
                    material from “Nine Intertwined”. This remix of “Aries” retains the original title, but skips
                    parts 1 and 2 as they weren’t as good.
                </p>
                <h2>Remix</h2>
                <p>
                    The entire track now has drums, but manages to avoid being a re-tread of the “Aries Part 3”
                    GFD remix from <em>Symmetry 2</em>.
                </p>
                <p>
                    The style of Part 3 is closer to the equivalent section of “Nine Intertwined” than to the
                    original on <em>A World Beyond</em>. Part 4 isn’t vastly different to “Nine Intertwined”
                    but I’ve reworked the instruments to sound a bit fuller.
                </p>
                <p>
                    Part 5 is fundamentally the same melody, but with a couple of changes. Firstly, the ever-changing
                    time signature has been stripped back to work with the drums, which means a few additional passing
                    notes here and there. There’s a new section before the final repeat of the Part 5 melody,
                    which I feel is particularly special. The repetitive pattern from Part 3 now returns in Part 5,
                    to bring the piece full circle.
                </p>
                <h2>What's next?</h2>
                <p>
                    “Aries” marks the end of the remixes from <em>A World Beyond</em> / <em>Hidden in the Beyond</em>,
                    at least for now. There’s a forthcoming project to cover some of the tracks we skipped.
                    We'll be moving onto <em>Besidewalk Plight</em> next.
                </p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/revisited-250px.jpg" alt="Ben Barden - Revisited">
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
