{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li><a href="/music/revisited/">Revisited</a></li>
            <li class="active">{{ TrackTitle }}</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ TrackTitle }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    "Candlelit Cavern" is a remix of "Pyramid" from <em>Besidewalk Plight</em>.
                </p>
                <p>
                    The original title only makes sense in the context of the original lyrics, which weren't very good
                    and I couldn't sing particularly well. A pyramid didn't really fit with the island theme of
                    the remixes, so it made more sense to come up with a different title.
                </p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/revisited-250px.jpg" alt="Ben Barden - Revisited">
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
