<h2>Summary</h2>
<p>
    Following the introduction of the
    <a href="{{ route('portfolio.projectPage', {'company': 'printed-com', 'project': 'new-ordering-wizard'}) }}">new ordering wizard</a>,
    it was put to the test in our biggest product launch yet. The Wedding Collection was to include 17 brand
    new products, each with a dedicated landing page linked from a top-level category page.
    Additionally, each product had its own set of options to choose from in the ordering wizard.
    In all, there was a large amount of work to get live.
</p>
<p>
    For this project I stepped into the role of Technical Project Manager, working closely with the
    Product Manager, Head of Design and the development team. I sourced copy and images, agreed product names
    and URLs, advised how to set up some of the new products, and trained the development team on how to
    extend the new ordering wizard for the project. I assisted in getting all of the product details on the
    landing pages set up to be fully dynamic, so a change to the product options didn’t require a lot of
    rework from the front-end team.
</p>
<p>
    I did some of the coding to help out where I could, although for the first time I attempted to be less
    hands-on so I could see the project as a whole. Additionally, I was heavily involved in QA and channelled
    all the necessary feedback between the teams so any bugs or final copy changes could be dealt with quickly.
    Finally, I coordinated the code release, communicated openly with the whole team on the status of the work,
    and performed further testing after the project went live.
</p>
<p>
    Everything went live on time and to spec, ready for the Marketing team to begin promoting the new products.
</p>