{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active">Destinations</li>
    </ul>

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Destinations</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <p>
                Places I've visited or been to on holiday. An asterisk (*) denotes somewhere I went on my own.
                For all other places on the list, Lauren and I went together.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>International destinations</h2>
            <p>
                1995: France *<em> (weekend)</em>
                <br>
                2003: Tenerife *<em> (2 weeks)</em>
                <br>
                2004: Amsterdam *<em> (long weekend - joint hen and stag do)</em>
                <br>
                2004: Croatia<em> (5 days - wedding)</em>
                <br>
                2005: Las Vegas<em> (5 days - <strong>our wedding</strong>!)</em>
                <br>
                2006: Australia<em> (2 weeks - first visit)</em>
                <br>
                2006: New York<em> (5 days)</em>
                <br>
                2006-2009: Australia<em> (moved there)</em>
                <br>
                2013: Las Vegas<em> (5 days)</em>
                <br>
                2014: Ireland<em> (long weekend)</em>
                <br>
                2015: St. Lucia<em> (6 days - <strong>10th wedding anniversary</strong>)</em>
                <br>
            </p>
        </div>
        <div class="col-md-6">
            <h2>UK destinations</h2>
            <p>
                Not a complete list - excludes childhood holidays as I can't remember most of the dates.
            </p>
            <p>
                2000: Birmingham *<em> (day trip)</em>
                <br>
                2000: Leeds *<em> (weekend)</em>
                <br>
                2001: Bristol *<em> (long weekend)</em>
                <br>
                2004: Bournemouth *<em> (weekend)</em>
                <br>
                2006: Edinburgh<em> (long weekend)</em>
                <br>
                2012: Brighton<em> (day trip)</em>
                <br>
                2014: Littlehampton<em> (day trip)</em>
                <br>
                2014: Lake District<em> (long weekend)</em>
                <br>
                2015: Edinburgh<em> (long weekend)</em>
                <br>
            </p>
        </div>
    </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
