<p>
    <em>Symmetry 2</em> is my seventh album, released under the name "GFD".
    Many of the tracks have a companion with the equivalent track number on the sister album, <em>Symmetry 1</em>.
</p>
