<h2>Project details</h2>
<p>
    <strong>Project</strong>: Admin screens
</p>
<p>
    <strong>Launch</strong>: N/A – there were many changes needed on an ongoing basis
</p>
<p>
    <strong>Role</strong>: Lead Developer / Web Product Manager (unofficially)
</p>