{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li class="active">Besidewalk Plight</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Besidewalk Plight</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    <em>Besidewalk Plight</em> is my second album. It was completed in June 2006.
                </p>
                <p>
                    The photos for the album were taken at Lighthouse Beach, Port Macquarie, Australia.
                </p>
                <h2>Original sleeve notes:</h2>
                <h3>From monthly tracks to total freedom</h3>
                <p>
                    Writing a track a month was a great way to get me back into writing music.
                    However, in early 2006, I started coming up with so many new ideas that monthly deadlines were not
                    frequent enough. In March, I concluded the monthly tracks concept.
                    Within a week, I’d completed three more tracks, penned one demo, and started several brand new pieces.
                </p>
                <h3>Drawing comparisons to days gone by</h3>
                <p>
                    The last time I wrote this much material was between 1996 and 1999, when I was just starting out.
                    This was before the “newness” of composing started to wear off.
                    Seven years later, things have picked up again for two reasons.
                    Firstly, people are starting to notice my music.
                    Secondly, I know I can improve on <em>A World Beyond</em>.
                    This realisation was helped with the introduction of some new software.
                </p>
                <h3>Listening to your feedback</h3>
                <p>
                    <em>A World Beyond</em> has a number of problems.
                    There’s too much piano, unrealistic instruments, not enough bass, a general lack of variety,
                    and many tracks sound empty and unfinished.
                    These interpretations are a combination of the feedback I received, and my own evaluation of the album.
                    With <em>Besidewalk Plight</em>, I have attempted to address all of these issues.
                </p>
                <h3>A range of styles</h3>
                <p>
                    All of <em>Besidewalk Plight</em> falls within the category of instrumental music.
                    However, it’s quite a different sound to the mostly piano-based compositions from my first album.
                    Many of the arrangements are much more complex, with sounds ranging from orchestral to electronic.
                    Some of it is ambient, but the album is too diverse to be classified as a single style.
                </p>
{% include 'theme/licensing.twig' %}
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/besidewalk-plight-250px.jpg" alt="Ben Barden - Besidewalk Plight">
                <h2>Track listing</h2>
                <table class="table-striped table-condensed" style="width: 100%;">
                    <tbody>
                    <tr>
                        <th style="background: #000; color: #fff; font-weight: bold; width: 10%; text-align: center;">#</th>
                        <th style="background: #000; color: #fff; font-weight: bold; width: 60%;">Track</th>
                        <th style="background: #000; color: #fff; font-weight: bold; width: 30%;">Duration</th>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">1</td>
                        <td>Gravity</td>
                        <td>3:05</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">2</td>
                        <td>Nebular Dreams</td>
                        <td>3:54</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">3</td>
                        <td>Jumpstart</td>
                        <td>2:19</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">4</td>
                        <td>Besidewalk Plight</td>
                        <td>3:02</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">5</td>
                        <td>Shine Light</td>
                        <td>3:37</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">6</td>
                        <td>Silhouette</td>
                        <td>2:49</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">7</td>
                        <td>Pyramid</td>
                        <td>3:25</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">8</td>
                        <td>Our Memories</td>
                        <td>4:08</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">9</td>
                        <td>The Path of No Return</td>
                        <td>2:09</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">10</td>
                        <td>Twisted Vision</td>
                        <td>3:43</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">11</td>
                        <td>The Turning Tide</td>
                        <td>3:20</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">12</td>
                        <td>The Wilderness</td>
                        <td>2:45</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">13</td>
                        <td>The Last Ones (Phase 1)</td>
                        <td>3:22</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">14</td>
                        <td>The Last Ones (Phase 2)</td>
                        <td>5:32</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">15</td>
                        <td>The Last Ones (Phase 3)</td>
                        <td>3:14</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
