{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li><a href="/music/revisited/">Revisited</a></li>
            <li class="active">{{ TrackTitle }}</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ TrackTitle }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    "Descendance" is taken from a section of the track “A World Beyond” / “Hidden in the Beyond”
                    from the albums of the same title.
                </p>
                <p>
                    When I started putting together the music that became <em>A World Beyond</em>, I had a lot of
                    unfinished pieces. I wanted to finish some tracks and put them onto an album.
                </p>
                <p>
                    Somewhere along the way, I decided to join some of the shorter tracks into longer tracks,
                    with mixed results. Some tracks were clearly stuck together, while other combinations worked
                    better than I expected.
                </p>
                <p>
                    “Descendance” is one of those pieces. Originally called “Climbing the Peak” (a title I reused
                    for a bonus track on <em>A Change of Scenery</em>) it was halfway between catchy and repetitive.
                    For the track “A World Beyond”, I took another track, “Land of Far”, and put the original
                    “Climbing the Peak” onto the end. Of the two, this is definitely the better track.
                </p>
                <p>
                    Later, for <em>Hidden in the Beyond</em>, I added more pieces after this track:
                    “Twinkles”, a brief variation of “Moon Eclipse”, and a short bridge leading to “Raindrops”.
                </p>
                <h2>Remix</h2>
                <p>
                    Splitting it from “A World Beyond” and retitling the track “Descendance” (a kind of opposite title
                    to “Climbing the Peak”) resulted in a running time of 1:40. For the remix, I lengthened the track,
                    changed the instruments, and replaced a few of the melodies. Fundamentally, it’s clearly still the
                    same track, albeit a little more developed.
                </p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/revisited-250px.jpg" alt="Ben Barden - Revisited">
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
