{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li><a href="/music/revisited/">Revisited</a></li>
            <li class="active">{{ TrackTitle }}</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ TrackTitle }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    "Rainforest" is a remix of "The Turning Tide" from <em>Besidewalk Plight</em>.
                </p>
                <p>
                    Buried as it was towards the end of the original album, "The Turning Tide" was easily skipped over
                    and forgotten. Bringing "Rainforest" into the earlier part of this album remix required a name change,
                    as there was already a sea-based track ("Sailing Under Clouds"). The new name fits quite well.
                </p>
                <p>
                    I've always liked this track, but felt it was a bit hectic. I've slowed it down a bit, and balanced
                    out the mix a little better. This gives it a bit more room to breathe.
                </p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/revisited-250px.jpg" alt="Ben Barden - Revisited">
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
