{% extends 'theme/ben/base.twig' %}

{% block page_body %}

<h1>Music</h1>

<div class="group">
    <div class="music-box">
        <div class="album-image">
            <a href="/music/ten">
                <img src="/img/music/ten-cover-temporary.jpg">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/ten">Ten</a>
        </span>
        <span class="album-grid-info">
            #10 | Feb 2017 | 16 tracks | 62:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/voyage-into-space">
                <img src="/img/music/voyage-into-space-cover-500px.jpg" alt="Voyage into Space">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/voyage-into-space">Voyage into Space</a>
        </span>
        <span class="album-grid-info">
            #9 | Nov 2016 | 9 tracks | 46:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/revisited">
                <img src="/img/music/revisited-250px.jpg" alt="Revisited">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/revisited">Revisited</a>
        </span>
        <span class="album-grid-info">
            #8 | Sep 2016 | 20 tracks | 76:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/symmetry-2">
                <img src="/img/music/symmetry-2-cover-250px.png" alt="Symmetry 2">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/symmetry-2">Symmetry 2</a>
        </span>
        <span class="album-grid-info">
            #7 | Mar 2016 | 11 tracks | 54:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/symmetry-1">
                <img src="/img/music/symmetry-1-cover-250px.png" alt="Symmetry 1">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/symmetry-1">Symmetry 1</a>
        </span>
        <span class="album-grid-info">
            #6 | Mar 2016 | 11 tracks | 49:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/a-change-of-scenery">
                <img src="/img/music/a-change-of-scenery-250px.jpg" alt="A Change of Scenery">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/a-change-of-scenery">A Change of Scenery</a>
        </span>
        <span class="album-grid-info">
            #5 | Nov 2009 | 20 tracks | 71:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/the-unravelling-of-travelling">
                <img src="/img/music/the-unravelling-of-travelling-250px.jpg" alt="The Unravelling of Travelling">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/the-unravelling-of-travelling">The Unravelling of Travelling</a>
        </span>
        <span class="album-grid-info">
            #4 | Jan 2008 | 21 tracks | 73:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/twice-midnight">
                <img src="/img/music/twice-midnight-250px.jpg" alt="Twice Midnight">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/twice-midnight">Twice Midnight</a>
        </span>
        <span class="album-grid-info">
            #3 | Mar 2008 | 19 tracks | 74:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/hidden-in-the-beyond">
                <img src="/img/music/hidden-in-the-beyond-250px.jpg" alt="Hidden in the Beyond">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/hidden-in-the-beyond">Hidden in the Beyond</a>
        </span>
        <span class="album-grid-info">
            #1A | Jan 2007 | 13 tracks | 69:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/besidewalk-plight">
                <img src="/img/music/besidewalk-plight-250px.jpg" alt="Besidewalk Plight">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/besidewalk-plight">Besidewalk Plight</a>
        </span>
        <span class="album-grid-info">
            #2 | Jun 2006 | 15 tracks | 51:00
        </span>
    </div>
    <div class="music-box">
        <div class="album-image">
            <a href="/music/a-world-beyond">
                <img src="/img/music/a-world-beyond-250px.jpg" alt="A World Beyond">
            </a>
        </div>
        <span class="album-grid-title">
            <a href="/music/a-world-beyond">A World Beyond</a>
        </span>
        <span class="album-grid-info">
            #1 | Nov 2005 | 17 tracks | 65:00
        </span>
    </div>
    {#
    <div class="music-box">
        <div class="album-image">

        </div>
        <span class="album-grid-title">

        </span>
        <span class="album-grid-info">

        </span>
    </div>
    #}
</div>

{% endblock page_body %}
