<p>
    <em>Singularity</em> is my eleventh album. All of the tracks have one-word titles.
</p>
<h2>FAWM III</h2>
<p>
    I wrote this album as part of
    <a href="http://www.fawm.org" target="_blank">FAWM 2018</a>, a songwriting community that
    challenges you to write 14 tracks in 28 days. I succeeded, and wrote exactly 14 tracks.
</p>
<p>
    This was my third attempt at FAWM. My previous attempts were in 2017, which formed the album
    <a href="/music/ten"><em>Ten</em></a>, and in 2007, which resulted in
    <a href="/music/the-unravelling-of-travelling"><em>The Unravelling of Travelling</em></a>.
</p>
