{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Portfolio</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Portfolio</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <h2>City A.M.</h2>
                <ul>
                    <li><a href="https://benbarden.wordpress.com/2016/09/10/seo-and-technical-issues-we-encountered-in-drupal-7/">SEO and technical issues we encountered in Drupal 7 - September 2016</a> <em>(links to my blog)</em></li>
                    <li><a href="https://benbarden.wordpress.com/2016/04/03/redesigning-city-a-m-march-2016/">Redesigning City A.M. - March 2016</a> <em>(links to my blog)</em></li>
                    <li><a href="https://benbarden.wordpress.com/2015/10/17/rebuilding-the-post-editor-at-city-am/">Rebuilding the post editor</a> - September 2015 <em>(links to my blog)</em></li>
                    <li><a href="/portfolio/cityam-homepage-category-redesign-2015-03.php">Homepage/Category page redesign and site layout</a> - changes up to March 2015</li>
                    {#
                    <li>Native content - August 2014</li>
                    <li>CDN - September 2014</li>
                    <li>Intranet - October 2014</li>
                    <li>Tagging phase 1: Topic pages - December 2014</li>
                    <li>Adobe Analytics - February 2015</li>
                    <li>Tagging phase 2: Company pages - February 2015</li>
                    <li>City Talk - August 2016</li>
                    <li>Migrating to Moosend - June 2016</li>
                    <li>Migrating from Drupal to Laravel - completed November 2016</li>
                    #}
                </ul>
                {#
                </div>
                <div class="col-md-6">
                #}
                <h2>printed.com</h2>
                <ul>
                    <li><a title="printed.com: AWS migration" href="/portfolio/printed-com-aws-migration.php">AWS migration</a> – February 2014</li>
                    <li><a title="printed.com: Wedding Collection" href="/portfolio/printed-com-wedding-collection.php">Wedding Collection</a> – November 2013</li>
                    <li><a title="printed.com: New ordering wizard" href="/portfolio/printed-com-new-ordering-wizard.php">New ordering wizard</a> – September 2013</li>
                    <li><a title="printed.com: Admin screens" href="/portfolio/printed-com-admin-screens.php">Admin screens</a> – regular work with no end date</li>
                    <li><a title="printed.com: Snapshot" href="/portfolio/printed-com-snapshot.php">Snapshot</a> – circa June 2012</li>
                    <li><a title="printed.com: Online Invoicing" href="/portfolio/printed-com-online-invoicing.php">Online invoicing</a> – March 2012</li>
                    <li><a title="printed.com: Online Payments" href="/portfolio/printed-com-online-payments.php">Online payments</a> – February 2012</li>
                    <li><a title="printed.com: Rebranding" href="/portfolio/printed-com-rebranding.php">Rebranding digitalprintpartnership.com as printed.com</a> – October 2011</li>
                    {#
                    <li>Original site launch - October 2010</li>
                    <li>Large Format - March 2011</li>
                    <li>Christmas Cards - September 2011</li>
                    <li>New My Account section - March 2012</li>
                    <li>Reward Programme - August 2012</li>
                    <li>Initial launch of the template editor - May 2013</li>
                    #}
                </ul>
                {#
                At printed.com there were lots of other projects, such as supporting new product launches that often needed changes
                elsewhere in the system, creating numerous reports, storing cost prices alongside retail prices to provide profitability stats, integration with third-party analytics platforms, and many, many more.
                #}
            </div>
        </div>
        {#
            <div class="row">
                <div class="col-md-6">
                    <h2>King Street Computers</h2>
                    <ul>
                        <li>kingstreetcomputers.com - November 2006</li>
                        <li>Customer Maintenance - December 2006</li>
                        <li>Windows Ticket Printing - June 2007</li>
                        <li>Backup - August 2007</li>
                        <li>Membership - November 2007</li>
                        <li>Online invoicing - March 2008</li>
                        <li>Customer Control Panel - May 2008</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2>Standard Life Healthcare</h2>
                    <ul>
                        <li>Testing processes - 2004-2006</li>
                        <li>slhmove.com - 2005-2006</li>
                        <li>The Line (intranet) - 2000-2006</li>
                        <li>DOC1 4.3 upgrade - 2005-2006</li>
                    </ul>
                    <h2>Personal projects</h2>
                    <ul>
                        <li>CMF Ads</li>
                        <li>Injader</li>
                    </ul>
                </div>
            </div>
        #}

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
