<hr>
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>
                Copyright &copy; Ben Barden {{ 'now'|date('Y') }}.
                {% if ShowSocialIcons == 'Y' %}
                    Social icons by <a href="https://www.iconfinder.com/iconsets/social-media-2034" target="_blank">Iconfinder.com</a>.
                {% endif %}
            </p>
        </div>
    </div>
</footer>
