<h2>Project details</h2>
<p>
    <strong>Project</strong>: City AM: Homepage/Category redesign
</p>
<p>
    <strong>Launch</strong>: changes up to March 2015
</p>
<p>
    <strong>Role</strong>: Project Manager
</p>
