<p>
    <em>A World Beyond</em> is my first album. It was completed in November 2005.
</p>
<p>
    I wasn't totally happy with this album, so I went back and updated most of the tracks in 2007.
    The result was <a href="/music/hidden-in-the-beyond">Hidden in the Beyond</a>.
</p>
<p>The photos for this album were taken at Guildford Castle in Surrey, UK.</p>
