<p>
    The photos for this album were taken at Lighthouse Beach, Port Macquarie, Australia - much like the shots taken
    for <em>Besidewalk Plight</em>. This album was originally intended as a follow-up.
</p>
