{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li class="active">Hidden in the Beyond</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Hidden in the Beyond</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    <em>Hidden in the Beyond</em> is a remixed version of
                    <em><a href="/music/a-world-beyond/">A World Beyond</a></em> (album "1A").
                </p>
                <p>
                    Most of the photos for this album were taken, once again, at Guildford Castle in Surrey, UK.
                    However, the original photoshoot took place in Central Park, USA.
                    The original album cover was taken from this shoot.
                </p>
                <table class="table-striped table-condensed" style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th>Name</th>
                        <th style="text-align: center;">Duration</th>
                        <th colspan="3" style="text-align: center;">Options</th>
                    </tr>
                    </thead>
                    <tbody id="bb-category-tracklist">
                    <tr>
                        <td colspan="6"><em>loading table...</em></td>
                    </tr>
                    </tbody>
                </table>
                <h2>Remixology:</h2>
                <p>
                    The first eleven tracks can be mapped directly to the first eleven tracks on <em>A World Beyond</em>,
                    so you can see which tracks I remixed.
                </p>
                <table class="table-striped table-condensed" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>HITB title</th>
                        <th>AWB title</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Dancing on the Cliffs</td>
                        <td>The Cliffs</td>
                    </tr>
                    <tr>
                        <td>At the Bottom of the Sea</td>
                        <td>Ocean Dive</td>
                    </tr>
                    <tr>
                        <td>Silversword</td>
                        <td>The Sword</td>
                    </tr>
                    <tr>
                        <td>Green Fields</td>
                        <td>As Long As It Takes</td>
                    </tr>
                    <tr>
                        <td>Return to the Dreamland</td>
                        <td>Descend into Dreamland</td>
                    </tr>
                    <tr>
                        <td>Lost in the Beyond</td>
                        <td>World of Peace</td>
                    </tr>
                    <tr>
                        <td>Three Sides</td>
                        <td>Meadow</td>
                    </tr>
                    <tr>
                        <td>December Loneliness</td>
                        <td>Somewhere There</td>
                    </tr>
                    <tr>
                        <td>The Blue Butterfly</td>
                        <td>White Butterflies</td>
                    </tr>
                    <tr>
                        <td>Underground Maze</td>
                        <td>Subterranean Labyrinth</td>
                    </tr>
                    <tr>
                        <td>Message for a Child</td>
                        <td>Blue Jade</td>
                    </tr>
                    <tr>
                        <td>Hidden in the Beyond</td>
                        <td>A World Beyond + Raindrops</td>
                    </tr>
                    <tr>
                        <td>Nine Intertwined</td>
                        <td>Aries (Parts 1 to 5)</td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    Track 12, "Hidden in the Beyond", is a remix of two tracks
                    from the original album: "A World Beyond", and "Raindrops".
                </p>
                <p>
                    Track 13, "Nine Intertwined", is a remix of
                    "Aries (Parts 1 and 2)", "Aries Part 3", and "Aries (Parts 4 and 5)". The remainder of the track includes
                    new material.
                </p>
                <p>
                    "Circular Finale" is the only track from <em>A World Beyond</em> to not appear on
                    <em>Hidden in the Beyond</em> in any shape or form.
                    Originally I started on a new version of this track, with a working title of "Final Circle".
                    However, as the original track was mostly variations on the themes I wrote for <em>A World Beyond</em>,
                    there was not much reason to write a new version.
                </p>
{% include 'theme/licensing.twig' %}
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/hidden-in-the-beyond-250px.jpg" alt="Ben Barden - Hidden in the Beyond">
                {% include 'theme/player/render.twig' %}
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
    <script src="/assets/js/albums/hidden-in-the-beyond.js?v=2"></script>
    {% include 'theme/player/base.twig' %}
{% endblock footer_scripts %}
