<h1>The Sword</h1>
<p>
    "The Sword" is the third track from my first album, <em>A World Beyond</em>.
</p>
<p>
    Here’s the track description from the original album sleeve notes:
</p>
<blockquote>
    Green fields and dark clouds. A knight in shining armour holding his sword.
    He’s the last one standing. Victorious, but alone.
</blockquote>
<p>
    This was my first attempt at writing music in the style of a movie score.
    As the track is quite long and doesn’t really have any surprises, it might work better
    if it were part of a soundtrack. I like it, but it’s quite basic.
</p>
<p>
    Unlike most of my music, I played the track by hand. Most of the music was improvised
    around a series of chords.
</p>
<p>
    At the time, a criticism of <em>A World Beyond</em> was that it had too many piano-led tracks.
    Listening to it now, the album does feel a bit samey. However, “The Sword” was always intended
    as a piano track.
</p>
<h2>Remix</h2>
<p>
    Coming off the back of the sparse instrumentation on <em>A World Beyond</em>, I went too far
    in the other direction for much of <em>Hidden in the Beyond</em>. I was keen to try adding strings
    to “The Sword” in the form of a remix, which I called “Silversword” – but I feel I overdid it.
</p>
<p>
    For the <em>Revisited</em> project, I’ve left the original mostly untouched, except for using a
    different piano sound and ironing out a couple of issues with the audio.
</p>
