<h1>Somewhere There</h1>
<p>
    "Somewhere There" is track 8 from my first album, <em>A World Beyond</em>.
</p>
<p>
    Original track description:
</p>
<blockquote>
    A usually busy town with colourful Christmas lights. However, there’s nobody around except me.
    What could be a happy occasion quickly becomes obscured by the loneliness.
</blockquote>
<p>
    I first wrote a basic chord sequence for “Somewhere There” in 1999, along with some lyrics that
    didn’t make a whole lot of sense (which is where the title comes from). Having played the chords
    through a few times, I realised that they had potential, so scribbled “WORK ON” at the top of the page.
</p>
<p>
    The piece resurfaced a year or two later, when I used the chords to create a melody.
    The core of the track was there, but it was missing an ending. This was added later.
</p>
<p>
    There are some strong melodies in the track – in my view, some of the strongest on <em>A World Beyond</em>.
    It was always supposed to be a melancholy piece, which is partly how I came up with the track description.
</p>
<p>
    When I shared the original version of this track online, I remember someone saying it made them
    think of Hogwarts. That wasn’t my intention at all, but it was hardly surprising due to the
    sounds I used.
</p>
<h2>Remix</h2>
<p>
    This is one track where I consider the <em>Hidden in the Beyond</em> remix (“December Loneliness”)
    to be a lot better than the original.
</p>
<p>
    For the <em>Revisited</em> remix, I’ve taken the “December Loneliness” version, changed the
    instruments and added some drums.
</p>
