<h1>Green Fields</h1>
<p>
    This is a remix of “As Long As It Takes” from <em>A World Beyond</em>. “Green Fields” is also
    the title of the remix of the same track as it appeared on <em>Hidden in the Beyond</em>.
</p>
<p>
    Original track description:
</p>
<blockquote>
    A young couple getting married; the start of many years of happiness. They fought just the night
    before and are having second thoughts, but a wise man tells them that they should push past it
    and move on. They’ll get there in time – it’ll take as long as it takes.
</blockquote>
<p>
    This description ties into the title of the original (“As Long As It Takes”). However, the
    remixed title “Green Fields” actually comes from the description for “The Sword”:
</p>
<blockquote>
    Green fields and dark clouds. A knight in shining armour holding his sword. He’s the
    last one standing. Victorious, but alone.
</blockquote>
<p>
    I wrote the original melody in 2000-2001. I wrote lyrics too, but as I’m not a great singer,
    the track has remained instrumental.
</p>
<h2>Remix</h2>
<p>
    This version is similar to the <em>Hidden</em> remix, but with better sounds. Both remixes are a
    bit longer than the original from <em>A World Beyond</em>.
</p>
