<h1>Sailing Under Clouds</h1>
<p>
    "Sailing Under Clouds" is a remix of "Precipitate" from <em>The Unravelling of Travelling</em>.
</p>
<p>
    Although this track first appeared on <em>The Unravelling of Travelling</em>, it was originally
    intended to appear on <em>Besidewalk Plight</em> – hence its inclusion at this point in the
    <em>Revisited</em> project.
</p>
<p>
    I wrote it under the title of “Ocean Waves” but renamed it “Precipitate” (derived from the
    word “precipitation”). To me, it evokes visions of sailing on the ocean but with a melancholy edge,
    hence the “clouds” part of the new title. It makes me think of the Zelda game, <em>The Wind Waker</em>.
</p>
<h2>Revisited Remix</h2>
<p>
    Aside from the different instruments, not much has changed here. It’s a little fresher,
    but the original is still good.
</p>
