<h1>Stormy Shores</h1>
<p>
    "Stormy Shores" is a remix of "Gravity" from <em>Besidewalk Plight</em>.
</p>
<p>
    As with most tracks from this album, "Stormy Shores" has been renamed to better fit the
    overall story.
</p>
<p>
    I wrote the original as a deliberate departure from <em>A World Beyond</em>, focusing more on synths
    than piano.
</p>
<p>
    The <em>Revisited</em> remix is closer in style to the "Low Gravity remix" from
    <em>Twice Midnight</em>, and also the GFD remix on <em>Symmetry 2</em>.
</p>
