<h1>Clear Blue Skies</h1>
<p>
    "Clear Blue Skies" is a remix of "Nebular Dreams" from <em>Besidewalk Plight</em>.
</p>
<p>
    As with most tracks from this album, "Clear Blue Skies" has been renamed to better fit the
    overall story.
</p>
<p>
    It's an upbeat track, with this version taking advantage of the catchy melody by adding a
    dance beat. It's quite different to "Nebular Dreaming", the remix from <em>A Change of Scenery</em>,
    which doesn't include drums.
</p>
