<h1>Morning Exploring</h1>
<p>
    "Morning Exploring" is a remix of "Jumpstart" from <em>Besidewalk Plight</em>.
</p>
<p>
    As with most tracks from this album, "Morning Exploring" has been renamed to better fit the
    overall story.
</p>
<p>
    Following "Clear Blue Skies", it's another upbeat track, and one I saw quite a bit of
    potential in when doing this remix. I've tried to make it brighter and fresher with better
    instruments and a few changes to make the piece feel more complete.
</p>
<p>
    Unlike some of the other tracks for this project, which have been remixed previously, this
    is one of the tracks I've never released a new version of until now.
</p>
