<h1>Rainforest</h1>
<p>
    "Rainforest" is a remix of "The Turning Tide" from <em>Besidewalk Plight</em>.
</p>
<p>
    Buried as it was towards the end of the original album, "The Turning Tide" was easily skipped over
    and forgotten. Bringing "Rainforest" into the earlier part of this album remix required a name change,
    as there was already a sea-based track ("Sailing Under Clouds"). The new name fits quite well.
</p>
<p>
    I've always liked this track, but felt it was a bit hectic. I've slowed it down a bit, and balanced
    out the mix a little better. This gives it a bit more room to breathe.
</p>
