<h1>Candlelit Cavern</h1>
<p>
    "Candlelit Cavern" is a remix of "Pyramid" from <em>Besidewalk Plight</em>.
</p>
<p>
    The original title only makes sense in the context of the original lyrics, which weren't very good
    and I couldn't sing particularly well. A pyramid didn't really fit with the island theme of
    the remixes, so it made more sense to come up with a different title.
</p>
