<h1>No Way Out</h1>
<p>
    "No Way Out" is a remix of "Silhouette" from <em>Besidewalk Plight</em>.
</p>
<p>
    The original "Silhouette" was written alongside "Gravity" - both pieces were very synth-heavy.
    Of the remixes, only this version ("No Way Out") has remained as focused on synths as the original.
</p>
<p>
    It was an unusual piece for me - instead of a melody with a start, middle and end, it's mostly
    just 'snatches' of music. However, despite the style, only the drums use loops.
</p>
<p>
    The track also leaves you hanging, as it lacks a well-rounded ending.
</p>
<p>
    This remix varies the sounds, somewhat tones down the raw feel of the original,
    but retains the eerie, ominous vibe.
</p>
