<h1>Into Darkness</h1>
<p>
    "Into Darkness" is taken from the middle of "The Last Ones (Phase 2)", which was
    initially titled "Pursuit". The original comes from <em>Besidewalk Plight</em>.
</p>
<p>
    Of the <em>Revisited</em> remixes to this point, this is probably the track where
    I've done the most work to it. It's also my favourite - for now!
</p>
