<h1>Twisted Vision</h1>
<p>
    "Twisted Vision" is a remix of track 10 from <em>Besidewalk Plight</em>.
</p>
<p>
    "Twisted Vision" was my first dance track. There are plenty of dance tracks on <em>Symmetry 1</em>
    and <em>Symmetry 2</em>, including some dance remixes. But this was the first one I included
    on an album.
</p>
<p>
    The remix isn't far removed from the original, aside from the sound effects, which I couldn't
    reproduce, but wanted to change anyway.
</p>
<p>
    I'm much happier to have this as the actual endpoint for <em>Besidewalk Plight</em>; it ends
    a musical progression of the first 10 tracks on the album. The original album
    then continued for five more tracks, and they weren't as good or consistent as what came
    before. With these remixes, the album feels complete.
</p>
