{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li class="active">Twice Midnight</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Twice Midnight</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    The photos for this album were taken at Lighthouse Beach, Port Macquarie, Australia - much like the shots taken
                    for <em>Besidewalk Plight</em>. This album was originally intended as a follow-up.
                </p>
                <table class="table-striped table-condensed" style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th>Name</th>
                        <th style="text-align: center;">Duration</th>
                        <th colspan="3" style="text-align: center;">Options</th>
                    </tr>
                    </thead>
                    <tbody id="bb-category-tracklist">
                    <tr>
                        <td colspan="6"><em>loading table...</em></td>
                    </tr>
                    </tbody>
                </table>
                <h2>Chronology</h2>
                <p>
                    I started working on <em>Twice Midnight</em> after completing <em>Besidewalk Plight</em>,
                    intending this to be my third album. However, the album didn't progress too well.
                </p>
                <p>
                    I shelved <em>Twice Midnight</em> and set to work on <em>Hidden in the Beyond</em>. I also started
                    <em>The Unravelling of Travelling</em>. I ended up with three albums in progress at the same time.
                </p>
                <p>
                    In the end, I finished and released <em>The Unravelling of Travelling</em> just two months before I released
                    <em>Twice Midnight</em>. But as most of <em>Twice Midnight</em> was written earlier, it felt like a bit of
                    a backwards step.
                </p>
                <p>
                    So, I now consider <em>Twice Midnight</em> to be my third album proper, even if it wasn't
                    released in that order.
                </p>
                <h2>Track links</h2>
                <p>
                    Several of the tracks are linked in some way:
                </p>
                <ul>
                    <li>Midnight theme - this features in Midnight 1, Twilight Tide, Prosperity, and Midnight 2.
                        It also features in "Take Me Downstairs" from <em>The Unravelling of Travelling</em> - which was originally
                        written for <em>Twice Midnight</em>. As a result, it creates a link between the two albums.</li>
                    <li>Waiting for the Sun - the riff pattern features at the start of Opposites Attract, as a
                        way to link the tracks together.</li>
                    <li>Moon Eclipse - towards the end of the album, Solar Eclipse appears as a remix of Moon Eclipse.</li>
                    <li>Woodland Clearing - Between the Trees was written as an immediate follow-up to Woodland Clearing,
                        with an intro intended to continue and advance the feel of Woodland Clearing. Unfortunately the
                        track itself just wasn't that good.</li>
                    <li>Circumference - the original version of this track is included as a bonus track. A newer remix,
                        Radial Circumference, appears in the main album track listing.</li>
                    <li>Gravity (Ben's Low Gravity Remix) - despite being a bonus track, this is a remix of Gravity from
                        <em>Besidewalk Plight</em> - thereby linking those two albums together, too.</li>
                    <li>Twice Midnight - the aforementioned Midnight theme links a few tracks together. However, there's
                        a more obvious link between two tracks and also the album title - Midnight 1 is a short intro, and
                        Midnight 2 develops its ideas into a much longer track.</li>
                </ul>
{% include 'theme/licensing.twig' %}
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/twice-midnight-250px.jpg" alt="Ben Barden - Twice Midnight">
                {% include 'theme/player/render.twig' %}
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
    <script src="/assets/js/albums/twice-midnight.js?v=2"></script>
    {% include 'theme/player/base.twig' %}
{% endblock footer_scripts %}
