<h2>Summary</h2>
<p>
    Although not a huge project in terms of technical changes, this was a major milestone in the history of
    printed.com.
</p>
<p>
    The project required implementation of a new logo, copy changes across the whole site (replacing any
    mentions of the old company name), registration of a new domain name, setting up the server to use the
    new URL, and redirecting everyone to the new name. It all went very smoothly.
</p>