<h2>Project details</h2>
<p>
    <strong>Project</strong>: Rebranding digitalprintpartnership.com as printed.com
</p>
<p>
    <strong>Launch</strong>: October 2011
</p>
<p>
    <strong>Role</strong>: Lead Developer
</p>