<p>
    <em>Ten</em> is my tenth album.
</p>
<h2>FAWM II</h2>
<p>
    I wrote most of this album as part of
    <a href="http://www.fawm.org" target="_blank">FAWM 2017</a>, a songwriting community that
    challenges you to write 14 tracks in 28 days. I succeeded, and wrote 16 tracks.
</p>
<p>
    This is not the first time I've participated in FAWM. I first participated back in 2007.
    The tracks I wrote that year ultimately became
    <a href="/music/the-unravelling-of-travelling"><em>The Unravelling of Travelling</em></a>.
</p>
<p>
    2017 marks 10 years since I last participated in FAWM. The album title <em>Ten</em> feels quite apt.
</p>
