<h2>Project details</h2>
<p>
    <strong>Project</strong>: Snapshot
</p>
<p>
    <strong>Launch</strong>: circa June 2012, with minor ongoing updates
</p>
<p>
    <strong>Role</strong>: Concept / UI Designer / Lead Developer / Web Product Manager
</p>