<h2>Summary</h2>
<p>
    Following the <a href="{{ route('portfolio.projectPage', {'company': 'printed-com', 'project': 'online-payments'}) }}">online payments</a>
    project launch, this was a logical next step as some customers would still be ordering first and
    not paying until later.
</p>
<p>
    I did a similar thing when I worked for King Street Computers in Australia, so I already had a clear
    idea of how it would work. Replacing an antiquated Word invoicing setup, I developed the ability for
    customers to download invoice PDFs and pay them through the My Account screens. This then fed through to
    the back-end screens and Finance could see which orders were paid or unpaid. I also
    developed a simple REST API so the accounting system (Opera) could mark invoices as paid.
</p>