{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li class="active">A World Beyond</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">A World Beyond</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    <em>A World Beyond</em> is my first album. It was completed in November 2005.
                </p>
                <p>
                    I wasn't totally happy with this album, so I went back and updated most of the tracks in 2007.
                    The result was <a href="/music/hidden-in-the-beyond/">Hidden in the Beyond</a>.
                </p>
                <p>The photos for this album were taken at Guildford Castle in Surrey, UK.</p>
                <table class="table-striped table-condensed" style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th>Name</th>
                        <th style="text-align: center;">Duration</th>
                        <th colspan="3" style="text-align: center;">Options</th>
                    </tr>
                    </thead>
                    <tbody id="bb-category-tracklist">
                    <tr>
                        <td colspan="6"><em>loading table...</em></td>
                    </tr>
                    </tbody>
                </table>
                <h2>Original sleeve notes:</h2>
                <h3>From undeveloped tunes to monthly tracks</h3>
                <p>
                    Since writing my first song in 1995, music composition has been an interesting experience, if a
                    little unpredictable.
                    At first, I made up melodies and scribbled them onto manuscript paper.
                    When I got my first PC, I put some of the old material into music notation software, and wrote even
                    more new material.
                    Then I discovered how to improve the sound quality of my compositions, and started sharing some of the
                    better tracks via my website.
                    But I’ve always been better at starting new tracks than finishing off the old ones.
                </p>
                <p>
                    In December 2004, I decided to get a bit more organised.
                    The plan was to complete one track a month, every month, throughout 2005.
                    It didn’t matter whether they were old tracks or brand new tracks.
                    Despite the occasional missed deadline, I’ve managed to put out a track for every month from January
                    right through to December.
                    I’d say it’s worked well. It will continue in 2006.
                </p>
                <h3>Why I compose</h3>
                <p>
                    If a picture’s worth a thousand words, then music can be worth even more.
                    I use music to tell stories, share feelings and express emotions.
                </p>
                <p>
                    As an example, consider this. From time to time, I have very vivid and colourful dreams.
                    When I wake up, there are so many things I want to say, but I can’t say them fast enough.
                    Some of the tracks on this album were inspired by dreams of faraway places.
                    Music allows me to communicate an enormous amount of information in a very compressed amount of time.
                    You probably won’t conjure up exactly the same thoughts as I did, but that’s part of the enjoyment –
                    Interpretation.
                    For every story I tell, you’ll picture it slightly differently.
                </p>
                <p>
                    Apparently, there’s a book in everyone, but not everyone has the inclination or the discipline to write it.
                    This is my book.
                </p>
                <h3>My first album</h3>
                <p>
                    <em>A World Beyond</em> is the result of countless late nights and a lot of dedication,
                    scattered over a period of 10 years.
                    Hopefully, my second album will take less than 10 years to create!
                </p>
{% include 'theme/licensing.twig' %}
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/a-world-beyond-250px.jpg" alt="Ben Barden - A World Beyond">
                {% include 'theme/player/render.twig' %}
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
    <script src="/assets/js/albums/a-world-beyond.js?v=3"></script>
    {% include 'theme/player/base.twig' %}
{% endblock footer_scripts %}
