<p>
    <em>Hidden in the Beyond</em> is a remixed version of
    <em><a href="/music/a-world-beyond">A World Beyond</a></em> (album "1A").
</p>
<p>
    Most of the photos for this album were taken, once again, at Guildford Castle in Surrey, UK.
    However, the original photoshoot took place in Central Park, USA.
    The original album cover was taken from this shoot.
</p>
