{% extends 'theme/ben/base.twig' %}

{% block page_body %}

<div class="container" id="music-landing">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>{{ Album.Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            {% include Album.TemplatePath~'overview.twig' %}
            {% include 'music/album/track-listing.twig' %}
            {% if Album.AdditionalInfo == 'Y' %}
                {% include Album.TemplatePath~'additional.twig' %}
            {% endif %}

            <h2>Licensing</h2>
            <p>All tracks are free to use for non-commercial purposes. Attribution required.</p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
            <br />This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img src="{{ Album.CoverImage }}" alt="Ben Barden - {{ Album.Title }}" style="width: 250px; height: 250px;">
            {% include 'music/player/render.twig' %}
        </div>
    </div>
</div>

{% endblock page_body %}

{% block footer_scripts %}
    {% if Album.Playlist %}
        {% include 'music/album/dynamic-playlist.twig' with {'PlaylistItems': Album.Playlist.playlistItems} %}
    {% endif %}
    {% include 'music/player/base.twig' %}
{% endblock footer_scripts %}
