<p>
    <em>Revisited</em> is my eighth album. It's a compilation of tracks from
    <a href="/music/a-world-beyond">A World Beyond</a> and
    <a href="/music/besidewalk-plight">Besidewalk Plight</a>,
    remixed with new instruments and melodies.
</p>
<p>
    All tracks listed below are available as a new <em>Revisited Remix</em>.
</p>
