<h2>Loose ends</h2>
<ul>
    <li>The similar titles used for Sunwatching, Moonsurfing and Starlining are linked to the original
        title for the album - <em>Sun, Moon and Stars</em>.</li>
    <li>Stepping Stones gets its name from the fact it bridges the gaps between a few tracks.
        A track called "Begin Spring" forms the opening and closing of the piece, whereas two tracks from
        <em>Citadel City</em> - "Into the unknown" and "The Underdog" - make up most of the
        remainder.</li>
    <li>The remixed tracks from <em>Besidewalk Plight</em> were originally going to
        become a complete album remix, similar to <em>Hidden in the Beyond</em>. This idea
        resurfaced on the <em>Revisited</em> album project.</li>
</ul>
<h2>Remixology</h2>
<p>The album includes several remixes of tracks from earlier albums.</p>
<table class="fancy-table" style="width: 100%;">
    <thead>
    <tr>
        <th>Title</th>
        <th>Original version</th>
        <th>Original album</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Longing</td>
        <td>Travelling Unravelled</td>
        <td><a href="/music/the-unravelling-of-travelling">The Unravelling of Travelling</a></td>
    </tr>
    <tr>
        <td>Nebular Dreaming</td>
        <td>Nebular Dreams</td>
        <td><a href="/music/besidewalk-plight">Besidewalk Plight</a></td>
    </tr>
    <tr>
        <td>The Wilderness, Part 2</td>
        <td>The Wilderness</td>
        <td><a href="/music/besidewalk-plight">Besidewalk Plight</a></td>
    </tr>
    <tr>
        <td>Lifeline II</td>
        <td>Lifeline</td>
        <td><a href="/music/the-unravelling-of-travelling">The Unravelling of Travelling</a></td>
    </tr>
    </tbody>
</table>
<h2>Album changes</h2>
<p>
    Some tracks were originally written for other albums.
</p>
<table class="fancy-table" style="width: 100%;">
    <thead>
    <tr>
        <th>Title</th>
        <th>Original album</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Deviance</td>
        <td>Forgotten Past</td>
    </tr>
    <tr>
        <td>Forgotten Past</td>
        <td>Forgotten Past</td>
    </tr>
    <tr>
        <td>The Sounds of Time</td>
        <td>Forgotten Past</td>
    </tr>
    <tr>
        <td>Blanket of Snow</td>
        <td>Landscapes</td>
    </tr>
    <tr>
        <td>Silent Shore</td>
        <td>Landscapes</td>
    </tr>
    <tr>
        <td>Sunwatching</td>
        <td>Citadel City</td>
    </tr>
    <tr>
        <td>Pipes of the Hills</td>
        <td>Citadel City</td>
    </tr>
    <tr>
        <td>Listen for the mountains</td>
        <td>Citadel City</td>
    </tr>
    <tr>
        <td>Stepping Stones</td>
        <td>Twice Midnight</td>
    </tr>
    <tr>
        <td>Invisible in the Shadows</td>
        <td>The Unravelling of Travelling</td>
    </tr>
    <tr>
        <td>Model Railway</td>
        <td>The Unravelling of Travelling</td>
    </tr>
    <tr>
        <td>Climbing the Peak</td>
        <td>The Unravelling of Travelling</td>
    </tr>
    </tbody>
</table>
