<h2>The FAWM factor</h2>
<p>
    A lot of the tracks came from participating in FAWM 2007, where the goal is to write 14 tracks in 28 days.
    I finished early, so wrote 2 more tracks, bringing the total to 16.
</p>
<p>
    12 of the FAWM tracks made it onto the album:
</p>
<ul>
    <li>Forbidden Planet</li>
    <li>A Village of Silver</li>
    <li>Ghostly Presence</li>
    <li>Caught between two dreams</li>
    <li>Reminiscence</li>
    <li>The Long Cold Night</li>
    <li>Justified Eloquence</li>
    <li>Distance and Proximity</li>
    <li>Measure an infinite distance</li>
    <li>Secret Passages</li>
    <li>Steel Works</li>
    <li>Deafening Silence</li>
</ul>
<p>
    The other 4 tracks didn't make it onto the album:
</p>
<ul>
    <li>Fortitude - later extended and called Climbing the Peak</li>
    <li>Race Against Time - later renamed Model Railway</li>
    <li>Invisible in the Shadows - later extended and merged with The Quiet Lake</li>
    <li>Reality Check - because it wasn’t any good</li>
</ul>
<h2>Title changes</h2>
<p>
    Several of the tracks were renamed:
</p>
<ul>
    <li>Caught between two dreams - titling this one was tricky. It had three previous titles:
        "When dreams becomes nightmares"; "Everything will come to nothing"; "Too Frightening"</li>
    <li>Reminiscence - originally titled "The Pathway"</li>
    <li>Steel Works - originally titled "Lifelongthreatening"</li>
    <li>Step Outside - unearthed from my archives. Originally titled "Sector 1"</li>
    <li>State of Indifference - unearthed from my archives. Originally titled "China"</li>
</ul>
<h2>Album changes</h2>
<p>
    Some tracks were originally written for other albums:
</p>
<ul>
    <li>Sitting on the corner of the sky - written for "Citadel City"</li>
    <li>Precipitate - written for "Besidewalk Plight"</li>
    <li>Lifeline - written for "Twice Midnight"</li>
    <li>Take Me Downstairs - written for "Twice Midnight"</li>
    <li>Twilight City Lights - written for "Citadel City"</li>
</ul>
<h2>New tracks not listed above</h2>
<p>
    The remaining tracks were written for this album:
</p>
<ul>
    <li>When the world knows</li>
    <li>Travelling Unravelled - the only track on the album to be created from bits of other tracks.
        Includes "We Must Depart", and "Winter Tale".</li>
</ul>
