<p>
    My fourth studio album – finished in January 2008. (Refer to the
    <em><a href="/music/twice-midnight">Twice Midnight</a></em> page for an explanation of why these
    albums were switched.)</em>
</p>
<p>
    This album has 21 tracks, the most on any of my albums. It is divided into three movements, each
    consisting of seven tracks. The album deals with the thoughts and feelings of moving abroad.
</p>
<p>
    This is the album I'm most proud of. The tracks work both on their own and as a larger body of work;
    the quality of music and production is good throughout.
</p>
<p>
    The photos for this album were taken in a small field in Port Macquarie, Australia.
</p>
