{% extends 'theme/ben/base.twig' %}

{% block page_body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <h1>{{ TopTitle }}</h1>
            <h2>Professional profile</h2>
            <ul>
                <li>
                    I'm a Scrum Master / Delivery Manager with previous experience as a developer and
                    tester.
                </li>
                <li>
                    I've run several projects as a technical PM. I've worked as a Scrum Master for several
                    teams at a time, using either Kanban or Scrum depending on the best fit for the team
                    and the work they're doing.
                </li>
                <li>
                    I have good experience of JIRA admin, and can tame a tricky backlog.
                </li>
            </ul>
            <p>
                For details of my work experience,
                <a href="https://www.linkedin.com/in/benbarden" target="_blank">view my LinkedIn profile</a>.
            </p>
            <h2>Contact</h2>
            <p>
                To get in touch, <a href="mailto:fromtheblog@benbarden.com">email me</a>.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <img src="/img/IMG_1735_ext_cc_web.jpg" alt="Ben Barden" style="border: 0;">
        </div>
    </div>
</div>
{% endblock page_body %}
