{% extends 'theme/ben/base.twig' %}

{% block page_body %}

<h1>Archive</h1>

<div class="group">
    <div class="page-wrap">
        <p>
            You've probably reached this page because you tried to access one of my old websites.
            Here's what happened to a few of them. I'm in the process of updating this page -
            there will be more info here soon.
        </p>
        <h2>bbarden.com</h2>
        <p>
            I'd be surprised if anyone remembers this, which was my personal site before I moved to
            benbarden.com in 2005.
        </p>
        <p>
            I bought bbarden.com in 2000 and changed it around a lot. It was a good place to try
            things out since I started learning HTML in 1999. It included a bio and photos,
            tech tips, mobile ringtones (the kind you could key into a Nokia phone), dance music
            reviews, plus some very early, unfinished versions of my music in MIDI format.
        </p>
        <p>
            When I started an ezboard community in 2001, I rebranded bbarden.com into a creativity
            hub site, with member content and other supplemental content to run alongside the
            forums. I met my wife, Lauren, on one of the official community forums at ezboard.com.
        </p>
        <p>
            By early 2005, the creativity hub had run its course, so I closed it and started setting up
            a new site at benbarden.com.
        </p>
        <h2>injader.com</h2>
        <p>
            Injader was an open-source CMS that I developed between
            May 2005 and June 2010. Injader 2.4.4 was the last version before the project closed.
            Injader 2.4.5 came out in December 2010 with some security fixes. After a long hiatus,
            I released Injader 2.5.0 in September 2014, but by then things had moved on a lot.
        </p>
        <p>
            The work I'd originally intended for Injader 3.0.0 was scrapped, and I started over with a
            new project - Jewel CMS. However, it was not to be. See below for more.
        </p>
        <h2>jewelcms.com</h2>
        <p>
            Jewel CMS was a continuation/revival of Injader, its versioning reset to 1.0.0. Even with a
            fairly major rewrite to the original codebase, there was a lot of work still to do.
            The project didn't last very long. I never announced its closure, but it didn't really get
            off the starting blocks. Moving servers pushed me to retire the site.
            You can still find the latest code on
            <a href="https://github.com/benbarden/jewelcms">GitHub</a>.
        </p>
        <h2>quickblogtips.com</h2>
        <p>
            I started writing blogging tips and tricks way back in December 2007, on my blog at
            benbarden.com. A series of blogs followed: toptenblogtips.com, theguidetoblogging.com,
            weeklyblogging.com - not to mention the short-lived tvinquotes.com and theblogcop.com.
            Eventually, I settled on quickblogtips.com, and quietly started it in February 2011.
        </p>
        <p>
            The blog was reasonably popular for the first year or so, spurred on by my involvement with
            a couple of blogging communities - as a moderator/administrator at Entrecard, and later, as one
            of three founders at a new ad network called CMF Ads.
        </p>
        <p>
            However, the blog gradually lost its traction, despite a well-received redesign or two,
            a few free eBooks, an email newsletter, and a punchy relaunch in August 2012, where I started
            writing blunt, no-nonsense posts.
        </p>
        <p>
            The blog wound down late in 2014. I briefly considered selling it, but I didn't like the idea of
            my content being repurposed into a marketing site for what would've probably amounted to a
            few hundred pounds at the most.
        </p>
        <p>
            I still have all of the best content saved, although it would need a lot of work to bring it
            up to date. However, I'm planning to blog again over at
            <a href="http://www.bloggeries.com/blog">Bloggeries</a> in the near future,
            so you might see some of it over there.
        </p>
    </div>
</div>

{% endblock page_body %}
