{% extends 'theme/ben/base.twig' %}

{% block page_body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <h1>{{ TopTitle }}</h1>
            <h2>Intro</h2>
            <p>
                Since closing quickblogtips.com, I have a few eBooks that no longer have a home.
                So I thought I'd share them here. Hope you find them useful.
            </p>
            <h2>Downloads</h2>
            <ul>
                <li><a href="/downloads/Ben_Barden_-_A_Beginners_Guide_to_Google_Analytics.pdf" target="_blank">A Beginner's Guide to Google Analytics</a> (1.5MB PDF)</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        </div>
    </div>
</div>

{% endblock page_body %}
