{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li class="active">{{ ProjectTitle }}</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{ ProjectTitle }}</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <h2>Project details</h2>
            </div>
            <div class="col-md-8">
                <h2>Summary</h2>
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
