{% extends 'theme/base.twig' %}

{% block page_body %}
    <!-- Page Content -->
    <div class="container">

        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/music/">Music</a></li>
            <li class="active">The Unravelling of Travelling</li>
        </ul>

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">The Unravelling of Travelling</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <p>
                    My fourth studio album – finished in January 2008. (Refer to the
                    <em><a href="/music/twice-midnight/">Twice Midnight</a> page for an explanation of why these
                        albums were switched.)</em>
                </p>
                <p>
                    This album has 21 tracks, the most on any of my albums. It is divided into three movements, each
                    consisting of seven tracks. The album deals with the thoughts and feelings of moving abroad.
                </p>
                <p>
                    This is the album I'm most proud of. The tracks work both on their own and as a larger body of work;
                    the quality of music and production is good throughout.
                </p>
                <p>
                    The photos for this album were taken in a small field in Port Macquarie, Australia.
                </p>
                <h2>The FAWM factor</h2>
                <p>
                    A lot of the tracks came from participating in FAWM 2007, where the goal is to write 14 tracks in 28 days.
                    I finished early, so wrote 2 more tracks, bringing the total to 16.
                </p>
                <p>
                    12 of the FAWM tracks made it onto the album:
                </p>
                <ul>
                    <li>Forbidden Planet</li>
                    <li>A Village of Silver</li>
                    <li>Ghostly Presence</li>
                    <li>Caught between two dreams</li>
                    <li>Reminiscence</li>
                    <li>The Long Cold Night</li>
                    <li>Justified Eloquence</li>
                    <li>Distance and Proximity</li>
                    <li>Measure an infinite distance</li>
                    <li>Secret Passages</li>
                    <li>Steel Works</li>
                    <li>Deafening Silence</li>
                </ul>
                <p>
                    The other 4 tracks didn't make it onto the album:
                </p>
                <ul>
                    <li>Fortitude - later extended and called Climbing the Peak</li>
                    <li>Race Against Time - later renamed Model Railway</li>
                    <li>Invisible in the Shadows - later extended and merged with The Quiet Lake</li>
                    <li>Reality Check - because it wasn’t any good</li>
                </ul>
                <h2>Title changes</h2>
                <p>
                    Several of the tracks were renamed:
                </p>
                <ul>
                    <li>Caught between two dreams - titling this one was tricky. It had three previous titles:
                        "When dreams becomes nightmares"; "Everything will come to nothing"; "Too Frightening"</li>
                    <li>Reminiscence - originally titled "The Pathway"</li>
                    <li>Steel Works - originally titled "Lifelongthreatening"</li>
                    <li>Step Outside - unearthed from my archives. Originally titled "Sector 1"</li>
                    <li>State of Indifference - unearthed from my archives. Originally titled "China"</li>
                </ul>
                <h2>Album changes</h2>
                <p>
                    Some tracks were originally written for other albums:
                </p>
                <ul>
                    <li>Sitting on the corner of the sky - written for "Citadel City"</li>
                    <li>Precipitate - written for "Besidewalk Plight"</li>
                    <li>Lifeline - written for "Twice Midnight"</li>
                    <li>Take Me Downstairs - written for "Twice Midnight"</li>
                    <li>Twilight City Lights - written for "Citadel City"</li>
                </ul>
                <h2>New tracks not listed above</h2>
                <p>
                    The remaining tracks were written for this album:
                </p>
                <ul>
                    <li>When the world knows</li>
                    <li>Travelling Unravelled - the only track on the album to be created from bits of other tracks.
                        Includes "We Must Depart", and "Winter Tale".</li>
                </ul>
{% include 'theme/licensing.twig' %}
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <img src="/assets/img/music/the-unravelling-of-travelling-250px.jpg" alt="Ben Barden - The Unravelling of Travelling">
                <h2>Track listing</h2>
                <table class="table-striped table-condensed" style="width: 100%;">
                    <tbody>
                    <tr>
                        <th style="background: #000; color: #fff; font-weight: bold; width: 10%; text-align: center;">#</th>
                        <th style="background: #000; color: #fff; font-weight: bold; width: 60%;">Track</th>
                        <th style="background: #000; color: #fff; font-weight: bold; width: 30%;">Duration</th>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">1</td>
                        <td>Sitting on the corner of the sky</td>
                        <td>2:50</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">2</td>
                        <td>Forbidden Planet</td>
                        <td>3:35</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">3</td>
                        <td>A Village of Silver</td>
                        <td>2:27</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">4</td>
                        <td>Ghostly Presence</td>
                        <td>3:13</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">5</td>
                        <td>Caught between two dreams</td>
                        <td>2:24</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">6</td>
                        <td>Step Outside</td>
                        <td>3:23</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">7</td>
                        <td>Reminiscence</td>
                        <td>2:30</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">8</td>
                        <td>The Long Cold Night</td>
                        <td>3:59</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">9</td>
                        <td>Take Me Downstairs</td>
                        <td>3:25</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">10</td>
                        <td>Justified Eloquence</td>
                        <td>3:30</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">11</td>
                        <td>Precipitate</td>
                        <td>3:24</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">12</td>
                        <td>Lifeline</td>
                        <td>2:51</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">13</td>
                        <td>Distance and Proximity</td>
                        <td>4:28</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">14</td>
                        <td>Measure an infinite distance</td>
                        <td>2:24</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">15</td>
                        <td>When the world knows</td>
                        <td>3:15</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">16</td>
                        <td>Secret Passages</td>
                        <td>4:14</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">17</td>
                        <td>Steel Works</td>
                        <td>4:12</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">18</td>
                        <td>State of Indifference</td>
                        <td>2:28</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">19</td>
                        <td>Deafening Silence</td>
                        <td>2:44</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">20</td>
                        <td>Twilight City Lights</td>
                        <td>2:43</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #cccccc;">
                        <td style="text-align: center;">21</td>
                        <td>Travelling Unravelled</td>
                        <td>8:32</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    {% include 'theme/copyright.twig' %}

</div>
<!-- /.container -->
{% endblock page_body %}

{% block footer_scripts %}
{% endblock footer_scripts %}
